@model AlobarShopp.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h4 style="color:black">Ürün Düzenleme Sayfası</h4>
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                Başlık
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                Açıklama
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                Fiyat
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                Resim
                <input asp-for="Image" class="form-control" type="hidden" />
                <input asp-for="Image" class="form-control" type="file" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsHome" /> Anasayfa
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsStock" /> Stok Miktarı
                </label>
            </div>
            <div class="form-group">
                Kategori
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-outline-primary">Ürün Listesine Dön <i class="bi bi-arrow-return-left"></i></a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @if (Model.Image == null)
        {
            <img src="~/images/image/resim-yok.jpg" width="350" height="300" />
        }
        else
        {
            <img src="@Model.Image" width="350" height="300" />
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
